body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2f3136 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.discord-bg-primary {
    background-color: #36393f !important;
}

.discord-bg-secondary {
    background-color: #2f3136 !important;
}

.discord-bg-tertiary {
    background-color: #202225 !important;
}

.discord-fg-primary {
    color: #f2fff9 !important;
}

.discord-fg-secondary {
    color: #72767d !important;
}
